<div class="container">
  <div class="row my-2">
    <div class="col-1">
      <label for="users">select users</label>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div class="form-group">
          <select
            [(ngModel)]="usersService._selectedUser"
            class="form-control"
            id="users"
          >
            <!-- FIXME:  עם 1+ יש בהתחלה סלקט ריק ואם אין אז זה מביא את הטודוז של היוזר הקודם -->
            <option
              value="{{ i + 1 }}"
              *ngFor="let user of usersService._users; let i = index"
            >
              {{ user.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="usersService.getTodosByUserId()"
      >
        Get Todos
      </button>
    </div>
  </div>
  <div class="row my-2">
    <div *ngFor="let todo of usersService._todos">
      <app-single-todo [todo]="todo"></app-single-todo>
    </div>
  </div>
</div>
