<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="form-group p-5">
        <div class="form-group">
          <label for="users">users select</label>
          <select
            [(ngModel)]="usersService._selectedUser"
            class="form-control"
            id="users"
          >
            <option
              value="{{ i + 1 }}"
              *ngFor="let user of usersService._users; let i = index"
            >
              {{ user.name }}
            </option>
          </select>
        </div>
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="(usersService.getTodosByUserId)"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="row">{{ usersService._selectedUser }}</div>
</div>
